# Frontend Firebase config
NUXT_FIREBASE_API_KEY = api_key
NUXT_FIREBASE_AUTH_DOMAIN = auth_domain.firebaseapp.com
NUXT_FIREBASE_PROJECT_ID = project_id
NUXT_FIREBASE_STORAGE_BUCKET = storage_bucket.firebasestorage.app
NUXT_FIREBASE_MESSAGING_SENDER_ID = messaging_sender_id
NUXT_FIREBASE_APP_ID = app_id

# Backend Firebase config
FIREBASE_CREDENTIALS_PATH = serviceAccountKey.json
FIREBASE_EMULATOR_HOST = localhost:8080
FIREBASE_AUTH_EMULATOR_HOST = localhost:9099